
:root {
    --app-max-width : 1440px;
}

html {
    height : 100%;

    scrollbar-width : none;
    scroll-behavior : smooth;

    @media (orientation : portrait) {
        font-size : 12px;
    }
}

body {
    margin : 0;


    header {

        > .wrapper {
            max-width : var(--app-max-width);
            margin : 0 auto;
        }

    }


    main {

        > .wrapper {
            max-width : var(--app-max-width);
            margin : 0 auto;
        }


        section.time-display {
            padding : 2rem;

            text-align : center;
        }

    }


    footer {

        > .wrapper {
            max-width : var(--app-max-width);
            margin : 0 auto;
        }

    }


    .aside-corner.github-link {
        $this-width : 10rem;

        position : fixed;
        bottom : 0;
        left : calc($this-width / 2 * -1);
        transform : rotate(45deg);
        transform-origin : bottom center;

        width : $this-width;
        padding : .15rem 0 .7rem 0;

        background-color : #24292f;
        text-align : center;


        > a {
            display : inline-block;
            padding : .2rem;
            clip-path : circle(closest-side);

            > img {
                display : block;
                width : 2rem;
            }
        }

    }

}

* {
    box-sizing : border-box;
}

a {
    text-decoration : none;
    color : inherit;

    &:visited {
        color : inherit;
    }

    &[target="_blank"]::after {
        content : '\2197';

        padding-left : .2em;
    }
}
